.subtitle {
    font-weight: 300;
    text-align: center;
    margin: 20px;
}

/* .footer {
background-color:  rgb(255, 82, 82);
margin-top: 100px;
padding: 40px;
}
.footer p {
    text-align: center;
    color: white;
} */
